---
import { SITE, FRIENDS } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Friend from "@components/Friend.astro";
---

<Layout title={`友情链接 - ${SITE.title}`}>
  <Header activeNav="friends" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">友情链接</h1>
      {
        FRIENDS.map(friend => <Friend friend={friend} />)
      }
    </section>
  </main>
  <Footer />
</Layout>

<style>
  html[data-theme="light"] .friend-card-bg-color {
    @apply bg-white;
  }

  html[data-theme="dark"] .friend-card-bg-color {
    @apply bg-gray-700;
  }
</style>
