---
import { SITE, FRIENDS } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Friend from "@components/Friend.astro";
import Hr from "@components/Hr.astro";
---

<Layout title={`友情链接 - ${SITE.title}`}>
  <Header activeNav="friends" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">友情链接</h1>
      {FRIENDS.map(friend => <Friend friend={friend} />)}
      <Hr noPadding />
      <h2>友链信息</h2>
      <p>
        本站链接: <a>{SITE.website}</a>
      </p>
      <p>站点名字: Renna's Blog</p>
      <p>简介: 无人知晓的日常记事本</p>
      <p>
        你可以通过邮件、即时通讯软件亦或是直接发 PR 到<a
          href="https://github.com/Renna42/renna.dev">代码库</a
        >之类的你认为方便的方式和我联系
      </p>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  html[data-theme="light"] .friend-card-bg-color {
    @apply bg-white;
  }

  html[data-theme="dark"] .friend-card-bg-color {
    @apply bg-gray-700;
  }
</style>
