---
import { SITE, FRIENDS } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Comments from "@components/Comments.astro";
import FriendCard from "@components/FriendCard.astro";
---

<Layout title={`友情链接 - ${SITE.title}`}>
  <Header activeNav="friends" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">友情链接</h1>
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        {
          FRIENDS.filter(friend => friend.active == undefined || friend.active).map(friend => (
            <FriendCard friend={friend} />
          ))
        }
      </div>
      <p>欢迎交换友链喵~</p>
      <p>
        站名: <b>Code & Tea</b><br />
        介绍: Neko’s bug log<br />
        链接: <a href={SITE.website}>{SITE.website}</a><br />
        图标: <a href={new URL("avatar.png", SITE.website).href}>{new URL("avatar.png", SITE.website).href}</a><br />
      </p>
      <p>
        如果你想在此添加友链, 你可以通过任意社交方式或在下方评论区告诉我<br />
        但有几点要求要注意一下:<br />
        <ol>
          <li>需要网站启用了 HTTPS 访问</li>
          <li>原则上不接受存在商业性质的广告的网站</li>
          <li>原则上不接受没什么内容/内容质量过低的网站</li>
          <li><s>看我心情</s></li>
        </ol>
      </p>
    </section>
    <Comments />
  </main>
  <Footer />
</Layout>

<style>
  html[data-theme="light"] .friend-card-bg-color {
    @apply bg-white;
  }

  html[data-theme="dark"] .friend-card-bg-color {
    @apply bg-gray-700;
  }
</style>
