---
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";
import type { SocialObject } from "types";

export interface Props {
  centered?: boolean;
  socials?: SocialObject[];
}

const { centered = false, socials = SOCIALS } = Astro.props;
---

<div class={`text-2xl social-icons ${centered ? "flex" : ""}`}>
  {
    socials
      .filter(social => social.active == undefined || social.active)
      .map(social => (
        <LinkButton
          href={social.href}
          className="link-button"
          title={social.linkTitle}
        >
          <i class={social.icon} />
          <span class="sr-only">{social.linkTitle}</span>
        </LinkButton>
      ))
  }
</div>

<style>
  .social-icons {
    @apply flex-wrap justify-center gap-1;
  }
  .link-button {
    @apply p-2 hover:rotate-6 sm:p-1;
  }
</style>
