---
import { LOCALE, SITE, GRAY_MODE } from "@config";
import "@fortawesome/fontawesome-free/css/all.css"
import "@styles/base.css";
import { ClientRouter } from "astro:transitions";
import { SEO } from "astro-seo";

export interface Props {
  title?: string;
  author?: string;
  description?: string;
  canonicalURL?: string;
  pubDatetime?: Date;
  modDatetime?: Date | null;
  scrollSmooth?: boolean;
  isPost?: boolean;
  postTags?: string[];
}

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.desc,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
  scrollSmooth = false,
} = Astro.props;
---

<!doctype html>
<html
  lang=`${LOCALE.lang ?? "en"}`
  class={`${scrollSmooth && "scroll-smooth"} ${GRAY_MODE && "grayscale"}`}
>
  <head>
    <meta charset="UTF-8" />
    <SEO
      title={title}
      description={description}
      canonical={canonicalURL}
      
      twitter={{
        card: "summary_large_image",
        site: "@HMur233",
        creator: "@HMur233",
        title: title,
        imageAlt: title,
        description: description,
      }}
      
      extend={{
        link: [
          {
            rel: "icon",
            href: "/avatar.webp",
          },
          {
            rel: "sitemap",
            href: "/sitemap-index.xml",
          },
        ],
        meta: [
          {
            name: "author",
            content: author,
          },
        ],
      }}
    />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="theme-color" content="" />

    <ClientRouter />

    <script is:inline src="/toggle-theme.js"></script>
    <script is:inline lang="javascript">
      (function () {
        const element = document.createElement("script");
        const config = {
          src: "https://giscus.app/client.js",
          "data-repo": "HuajiMUR233/blog-discussions",
          "data-repo-id": "R_kgDOLD4kRQ",
          "data-category": "Comments",
          "data-category-id": "DIC_kwDOLD4kRc4CcXjC",
          "data-mapping": "pathname",
          "data-strict": "1",
          "data-reactions-enabled": "1",
          "data-emit-metadata": "0",
          "data-input-position": "top",
          // eslint-disable-next-line no-undef
          "data-theme": getGiscusTheme(),
          "data-lang": "zh-CN",
          "data-loading": "lazy",
          crossorigin: "anonymous",
          async: true,
        };
        for (let key in config) {
          element.setAttribute(key, config[key]);
        }
        document.getElementById("giscus-wrap")?.appendChild(element);
      })();
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
